div.card>img {
    height: 300px;
}

body {
    background: no-repeat center/100% url("./img/background.jpg");
    font-family: Garamond, serif;
}

.tab-content {
    background-color: rgb(240, 240, 240, 0.8);
}

.alimentation {
    background-color: rgb(240, 240, 240, 0.8);
}

<<<<<<< HEAD
.alimentation>img {
=======
.alimentation>img{
>>>>>>> f61ab7092e2aab010bad40273ecf161a568e54f1
    width: 100%;
}

.sources {
    background-color: rgb(240, 240, 240, 0.8);
}

.bonjour-tlm {
    background-color: rgb(240, 240, 240, 0.9);
    text-align: justify;
}

div.alimentation>p {
    margin-bottom: 10px;
    text-align: justify;
    text-indent: 30px;
}

.card-footer {
    background: transparent;
    border-top: 0;
}

.active {
    display: block;
}

<<<<<<< HEAD
tr.color {
=======
tr.color{
>>>>>>> f61ab7092e2aab010bad40273ecf161a568e54f1
    background-color: #00bfff;
}

.historique {
    display: none;
}


